<section
  id="get-started-section"
  class="py-5 bg-light text-dark section-border-shadow"
>
  <div class="container">
    <div class="row justify-content-center text-center py-4">
      <div id="get-started-content" class="col-lg-8">
        <h5 id="get-started-title" class="display-5 fw-bold">
          Get Started Today
        </h5>
        <p id="get-started-text" class="lead">
          If you have a product and you're ready to grow — drop us a line. Tell
          us what you're building, what market you're targeting, and what you'd
          like to achieve.
        </p>
      </div>
    </div>
  </div>
</section>
