<footer class="py-3 bg-light">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="#about-section" class="nav-link px-2 text-body-secondary"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a href="#features-section" class="nav-link px-2 text-body-secondary"
          >Features</a
        >
      </li>
      <li class="nav-item">
        <a href="#faq-section" class="nav-link px-2 text-body-secondary"
          >FAQs</a
        >
      </li>
    </ul>
    <address class="text-center text-body-secondary">
      <ul class="list-unstyled mb-0">
        <li>© 2025 Certus Connect L.L.C-FZ</li>
        <li>Meydan Grandstand, 6th floor, Meydan Road,</li>
        <li>Nad Al Sheba, Dubai, U.A.E.</li>
        <li>Formation Number: 2425008</li>
      </ul>
    </address>
  </div>
</footer>
